<div class="container-fluid">
    <form method="get" class="form-horizontal" ng-submit="listarAtendimentos()">
        <fieldset class="container-fluid">
            <legend>Atendimentos</legend>
            <form class="form-horizontal">
                <input type="search" ng-model="buscaAtendimento" class="form-control" id="busca" placeholder="Buscar Atendimento"><br>
            </form>
            <table class="table table-hover table-striped" ng-repeat="atendimento : atendimentos">
                <tbody>
                    <tr>
                        <th>Nº Atendimento</th>
                        <th>Nome do Cidadão</th>
                        <th>Solicitação</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th>Opções</th>
                    </tr>
                <tbody>
                    <tr>
                        <td>{{atendimento.id}}</td>
                        <td>João da Silva</td>
                        <td>{{atendimento.solicitacao}}</td>
                        <td></td>
                        <td>Pendente</td>
                        <td>
                            <a href="#" ng-click="" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-search"></span>&nbspAbrir</a>
                            <a href="#" ng-click="" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span>&nbspDeletar</a>
                        </td>
                    </tr>
            </table>
        </fieldset>
    </form>
</div>