<div class="container-fluid" ng-init="listarAtividades()">
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-capitalize" style="">Atividades</h5>
            <hr>
            <form class="form-horizontal">
                <div class="col-md-9 nopadding">
                    <input type="search" ng-model="buscaAtividade" class="form-control" id="busca" placeholder="Buscar Atividade"><br>
                </div>
                <div class="col-md-3 nopadding">
                    <select class="form-control">
                        <option>Nº Atividade</option>
                        <option>Tipo</option>
                        <option>Tipo de Moção</option>
                        <option>Data</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <div class="list-group" ng-repeat="atividade in atividades | filter:buscaAtividade">
                <a href="#" class="list-group-item">
                    <h5 class="list-group-item-heading">Atividade {{atividade.id}} <small>({{atividade.dataAtividade | date: "dd/MM/yyyy"}})</small></h5>
                    <h6 class="list-group-item-heading">{{atividade.tipo}} - {{atividade.tipoMocao}}</h6>
                    <p class="list-group-item-text"><span class="list-group-item-heading"><strong>Ementa - </strong></span>{{atividade.ementa}}</p>
                </a>
            </div>
        </div>
    </div>
</div>