<div class="row" ng-include="'partials/menu.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-capitalize" ng-init="selecionado = id">Atividades</h5>
            <hr>
            <form class="form-horizontal">
                <div class="col-md-9 nopadding" dynamic="html">
                    <input id="busca" ng-model="textoBusca" class="form-control" ng-keyup="selecionaKey()" placeholder="Buscar Atendimento"><br>
                    <!--<ng-busca></ng-busca><br>-->
                </div>
                <div class="col-md-3 nopadding" ng-model="oi">
                    <select class="form-control" ng-options="opcao.name for opcao in combo.opcoes track by opcao.name" ng-model="combo.opcaoSelecionada" ng-click="mudou()">
                    </select>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <div class="list-group" ng-repeat="atividade in atividades | filter: combo.opcaoSelecionada.procura">
                <a href="" ng-click="excluiAtividade(atividade.id)" class="pull-right overlay-button"><span class="glyphicon glyphicon-trash"></span></a>
                <a href="#/atividades/alterar/{{atividade.id}}" class="pull-right overlay-button"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#/atividades/{{atividade.id}}" class="list-group-item" ng-click="getAtividade(atividade)">
                    <h5 class="list-group-item-heading" style="display: inline;">Atividade {{atividade.id}} - <small>{{atividade.dataAtividade | date: "dd/MM/yyyy"}}</small></h5>
                    <h6 class="list-group-item-heading">{{atividade.tipo}} <span ng-if="atividade.tipoMocao">-</span> {{atividade.tipoMocao}}</h6>
                    <p class="list-group-item-text"><span class="list-group-item-heading"><strong>Ementa - </strong></span>{{atividade.ementa | limitTo:420}}<span ng-show="atividade.ementa.length > 420">...</span></p>
                </a>
            </div>
        </div>
    </div>
</div>