 <nav class="navbar navbar-default navbar-static-top" ng-controller="loginCtrl">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="./libs/icons/brasao.ico" class="pull-left">
                    <a class="navbar-brand teste" href="#/index" >Gabinet</a>
                </div>
                <div class="collapse navbar-collapse" id="cssmenu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Cidadaos <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#/cidadaos/novo">Cadastrar</a></li>
                                <li><a href="#/cidadaos">Consultar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Atividades <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#/atividades/novo">Cadastrar</a></li>
                                <li><a href="#/atividades">Consultar</a></li>
                                <li><a href="#/atividades/grafico">Grafico</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Atendimentos <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#/atendimentos/novo">Cadastrar</a></li>
                                <li><a href="#/atendimentos">Consultar</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" ng-model="nome">
                                <span class="glyphicon glyphicon-user icon-size">&nbsp;{{nome}}</span>
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#/logout" ng-click="logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>