<div class="row">
    <nav class="navbar navbar-default navbar-static-top" ng-controller="loginCtrl">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#/index"><img src="./libs/icons/brasao.ico" class="pull-left"></a>
                <!--<a class="navbar-brand teste" href="#/index" >Gabinet</a>-->
            </div>
            <div class="collapse navbar-collapse" id="cssmenu">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Cidadaos <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/cidadaos/novo">Cadastrar</a></li>
                            <li><a href="#/cidadaos">Consultar</a></li>
                            <li><a style="cursor: pointer" data-toggle="modal" data-target="#myModal">Aniversáriantes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Atividades <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/atividades/novo">Cadastrar</a></li>
                            <li><a href="#/atividades">Consultar</a></li>
                            <li><a href="#/atividades/grafico">Grafico</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Atendimentos <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/atendimentos/novo">Cadastrar</a></li>
                            <li><a href="#/atendimentos">Consultar</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" ng-model="nome">
                            <span class="glyphicon glyphicon-user">&nbsp;{{nome}}</span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/assessor">Assessor</a></li>
                            <li><a href="#/logout" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!--Modal Aniversariantes-->
<!--<div class="form-group">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Open Modal</button>
</div>-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        Relatório de Aniversáriantes
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Relatório de Aniversáriantes</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="col-lg-6">
                            <label class="control-label" for="de">De</label>
                            <input type="text" class="form-control" id="de" ng-model="datas.de" mask="99/99">
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label" for="ate">Ate</label>
                            <input type="text" class="form-control" id="ate" ng-model="datas.ate" mask="99/99">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer" ng-controller="loginCtrl">
                <button type="button" class="btn btn-primary" ng-click="gerarPdf(datas)" data-dismiss="modal">Gerar PDF</button>
            </div>
        </div>
    </div>
</div>