<div ng-include="'partials/menu.html'"></div>
<div class="container-fluid">
    <form name="AtividadeForm" method="post" class="form-horizontal" ng-submit="novaAtividade(atividade)">
        <fieldset>
                <legend>Nova Atividade</legend>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="selectTipo">Tipo</label>
                        <select class="form-control" id="selectTipo" ng-model="atividade.tipo" value="{{atividade.tipo}}" required>
                            <option value="Projeto de Lei">Projeto de Lei</option>
                            <option value="Indicações">Indicações</option>
                            <option value="Requerimento">Requerimento</option>
                            <option value="Oficios">Oficios</option>
                            <option value="Moções">Moções</option>
                        </select>
                        <!--<span ng-show="AtividadeForm.selectTipo.$dirty && AtividadeForm.selectTipo.$invalid">Select service</span>-->
                    </div>
                </div>
                <div class="form-group" ng-if="atividade.tipo==='Moções'">
                    <div class="col-lg-12">
                        <label for="tipoMocoes">Tipo de moções</label>
                        <select class="form-control" id="tipoMocoes" ng-model="atividade.tipoMocao">
                            <option>Protesto</option>
                            <option>Repúdio</option>
                            <option>Apoio</option>
                            <option>Pesar</option>
                            <option>Congratulação</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ementa" class="col-lg-1">Ementa</label>
                    <div class="col-lg-12">
                        <textarea class="form-control" rows="10" id="ementa" ng-model="atividade.ementa" required></textarea>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-11">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
        </fieldset>
    </form>
</div>