<div ng-include="'partials/menu.html'"></div>
<div class="container-fluid" ng-init="inicia()">
    <div class="row">
<!--        <form method="get" class="form-horizontal">
            <fieldset class="container-fluid">
                <legend>Novo Atendimento</legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">CPF do Cidadão</label>
                        <div class="input-group">
                            <input type="text" class="form-control" mask="999.999.999-99" ng-model="atendimento.cidadao.cpf">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="buscaCidadao(atendimento.cidadao.cpf)">Buscar</button>
                            </span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>-->
        <div class="form-group" ng-show="atendimento.cidadao.nome">
            <label for="nome" class="col-lg-1">Nome</label>
            <div class="col-lg-12">
                <input class="form-control" id="nome" ng-model="atendimento.cidadao.nome" disabled><br>
            </div>
        </div>
    </div>
    <div class="row">
        <form method="post" class="form-horizontal" name="atendimentoForm" ng-submit="novoAtendimento(atendimento)">
            <fieldset class="container-fluid">
                <div class="form-group">
                    <label for="solicitacao" class="col-lg-1">Solicitação</label>
                    <div class="col-lg-12">
                        <textarea class="form-control" rows="5" id="solicitacao" ng-model="atendimento.solicitacao" required></textarea>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="providencias" class="col-lg-1">Providências</label>
                    <div class="col-lg-12">
                        <textarea class="form-control" rows="5" id="providencias" ng-model="atendimento.providencia"></textarea>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-11">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>